.formSection{
    display: flex;
    font-family: 'Roboto', sans-serif;
    color: rgb(245, 239, 239);
    flex-direction: column;

}

#urlBlock {
    display: flex;
    align-items: center;
    flex-direction: row;
    width: 150px;
    height: 40px;
    font-size: 20px;
}

#textBar {
    width: 260px;
    border: 2px solid rgb(240, 131, 225);
}

#goButton {
    width: 100px;
    height: 60px;
    border: solid 2px rgb(5, 5, 5);
    background-color: rgba(230, 79, 230, 0.897);
    color:rgb(52, 116, 168);
    padding: 8px 20px;
    font-size: 20px;
    cursor: pointer;
    font-family: 'Roboto', sans-serif;
}

#goButton:hover{
    border-color:rgb(91, 137, 206);
    border: 4px;
    font-weight: bold;
    color:rgb(52, 116, 168);
    border: 6px solid rgb(238, 138, 233);
    border-style: dotted;

}

.methodButtonContainer {
    display: flex;
    flex-direction: row;
    color:rgb(236, 236, 240);
    font-weight: bold;
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
    justify-content: center;
    padding-left: 60px;

    
}

.urlContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top: 276px;
    color: rgb(233, 33, 223);
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
  
}
