.json {
 font-family: monospace;
 white-space: pre;
 text-align: left;
 color: rgb(230, 220, 229);
}

.jsonSection {
    border: 2px solid purple;
    border-radius: 20px;
    background-color:rgb(131, 55, 182);
    display:flex;
    flex-direction: column;
    justify-content: center;
    height: 30em;
    overflow:auto;
    align-items: center;
    right: 0;
    left:0;
}


