.footerContainer {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    height: 80px;
    width: 100vw; 
    display: flex;
    background-image: url(https://i.pinimg.com/originals/a4/50/60/a450600099fc4e8f01716bbc478b6513.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    justify-content: center;
    align-items: center;
    background-color: rgba(144, 198, 235, 0.945);
    position: bottom;
    bottom:0; left:0; right:0;
    border-top: solid 2px rgb(180, 206, 216);
    margin-top: 100vh;
}

.footer {
   
}
