.formSection{
    display: flex;
    font-family: 'Roboto', sans-serif;
    color: rgb(117, 110, 110);
    flex-direction: column;
}

#urlBlock {
    display: flex;
    flex-direction: row;
    width: 100px;
    height: 40px;
}

#goButton {
    width: 100px;
    height: 40px;
    border: solid 2px rgb(141, 148, 172);
    background-color: rgba(189, 38, 209, 0.4);
    color:rgb(52, 116, 168);
    padding: 8px 20px;
    font-size: 20px;
    cursor: pointer;
    font-family: 'Roboto', sans-serif;
}

#goButton:hover{
    border-color:rgb(91, 137, 206);
    border: 4px;
    font-weight: bold;
    color:rgb(52, 116, 168);

}

.methodButtonContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    color:rgb(66, 136, 163);
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
}
.urlContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top: 60px;
    color:rgb(66, 136, 163);
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
  
}