.formSection{
    display: flex;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: rgb(117, 110, 110);
    flex-direction: column;
}
 
#goButton {
    width: 100px;
    height: 30px;
    border: solid 2px rgb(141, 148, 172);
    background-color: rgba(189, 38, 209, 0.4);
    color: rgb(7, 7, 7);
    padding: 8px 20px;
    font-size: 20px;
    cursor: pointer;
}

#go-button:hover, #go-button:active{
    border-color:rgb(31, 174, 231);
    color:rgb(31, 174, 231);
    background-color: black;
}

.methodButtonContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    color:rgb(31, 174, 231);
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
}
.urlContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top: 60px;
    color:rgb(31, 174, 231);
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
  
}